<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <form action="/signIn" method="POST" onsubmit="signIn(event)">
      <div>
        <input
          type="email"
          id="emailId"
          name="email"
          placeholder="Enter Email Address"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="passwordId"
          name="password"
          placeholder="Enter Password"
          required
        />
      </div>
      <button type="submit">Sign In</button>
    </form>
    <a href="/signUp">No account? Sign Up here..</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
      const signIn = (event) => {
        event.preventDefault(event);

        const obj = {
          email: event.target.email.value,
          password: event.target.password.value
        };
        axios
          .post("http://localhost:3000/signIn", obj)
          .then((response) => {
            localStorage.setItem("token", response.data.token);
          })
          .then(() => {
            window.location.href = "http://localhost:3000/expense";
          })
          .catch((err) => {
            console.log(err);
          });
      };
    </script>
  </body>
</html>
